modis_Australia/modis_2000-2019_Australia.csv filter=lfs diff=lfs merge=lfs -text
weatherAUS/Pre[[:space:]]Filter/weatherAUS.csv filter=lfs diff=lfs merge=lfs -text
modis_Australia/Pre[[:space:]]Filter/modis_2000-2019_Australia.csv filter=lfs diff=lfs merge=lfs -text
modis_Australia/Pre[[:space:]]Filter/modis_2008-2017.csv filter=lfs diff=lfs merge=lfs -text
